@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 裝飾物位置 */
.dec-ball1 {
  top: 18%;
  left: 32%;
}
.dec-ball2 {
  top: 30%;
  left: 50%;
}
.dec-starsmile {
  top: 52%;
  left: 60%;
}
.dec-topstar {
  top: -7%;
  left: 37%;
}
.dec-shining {
  top: -7%;
  left: 37%;
  animation: shining 0.8s infinite ease-in-out;
}
.dec-gift {
  /* 禮物的位置 (相對於樹) */
  top: 45%;
  left: 20%;
}

.floor {
  top: 540px;
  left: 0px;
}

.closeBtn {
  top: -10px;
  left: 95.5%;
}

.crystalball {
  top: 255px;
  left: 45px;
  width: 60px;
  height: 60px;
}
.crystalball:hover {
  transform-origin: bottom;
  animation: shakingBall 0.5s ease forwards;
}

@keyframes shakingBall {
  0% {transform: rotate( -10deg );}
  25%{transform: rotate( 10deg );}
  50% {transform: rotate( -5deg ) translateY(-10px);}
  75% {transform: rotate( 5deg );}
  100% {transform: rotate( 0deg ) translateY(0);}
}

/* 信件動畫特效 */
.letterContent {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: rgb(9, 49, 55);
  display: "inline-block";
  white-space: normal; /* 支援換行 */
  word-wrap: break-word; /* 長字自動換行 */
  overflow-wrap: break-word; /* 防止過長內容溢出 */
}
.word {
  display: inline-block; /* 逐字計算 */
  animation: colorChange 0.2s ease forwards;
  animation-fill-mode: forwards;
}
.blinkingCursor {
  display: inline-block; /* 逐字計算 */
  border-right: .05em solid;
  animation: blink 0.5s infinite normal;
  margin-left: -1px; /* 避免與文字重疊 */
}

@keyframes colorChange {
  0% {
    color: transparent;
  }
  100% {
    color: rgb(9, 49, 55);
    /* 最終字體顏色 */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes shining {
  0% {
    scale: 85%;
  }
  100% {
    scale: 115%;
  }
}

/* 火焰特效 */
@keyframes flicker {
  0% {transform: rotate( -1deg );}
  20% {transform: rotate( 2deg ) scaleY( 1.05 );}
  40% {transform: rotate( -1deg );}
  60% {transform: rotate( 1deg );}
  80% {transform: rotate( -1deg ) scaleY( 0.9 );}
  100% {transform: rotate( 1deg );}
}
.flame-wrapper {
  position: absolute;
  top: 517px;
  left: 159px;
  animation: flicker 5ms ease-in infinite;
  z-index: 100;
}
.flame {
  position: absolute;
  left: 50%;
  bottom: 0;
  border-radius: 50% 0 50% 50%;
  transform: translate(-50%) rotate(-45deg);
}
.fire {
  width: 52px;
  height: 52px;
  box-shadow: 4px -4px 8px 6px orangered,
    inset -6px 6px 6px 6px orangered,
    inset -12px 12px 6px 12px orange,
    inset -14px 14px 6px 20px gold,
    inset 0px 0px 0px 40px lightyellow;
}
.light01 {
  position: absolute;
  top: 447px;
  left: 120px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation: flicker 5ms ease-in-out infinite;
}
.light02 {
  position: absolute;
  top: 430px;
  left: 110px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: flicker 5ms ease-in infinite;
}

.fireBtn {
  position: absolute;
  top: 430px;
  left: 109px;
  width: 120px;
  height: 120px;
  color: #222733;
  cursor: pointer;
}

/* 定義 3D 視角距離 */
.perspective-container {
  perspective: 900px; 
}

.door-open {
  transform: rotate3d(0, 1, 0, 120deg);
}

/* 下雪 */
@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg); /* 下落並旋轉 */
  }
}

.snowflake {
  position: absolute;
  top: -10%; /* 從畫面頂端開始下落 */
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}